##############################################################################
##                                                                          ##
##                            DBCA response file                            ##
##                            ------------------                            ##
## Copyright(c) Oracle Corporation 1998,2019. All rights reserved.         ##
##                                                                          ##
##############################################################################
responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v19.0.0
#-----------------------------------------------------------------------------
gdbName={{ oracle_globalname }}
#-----------------------------------------------------------------------------
sid={{ oracle_sid }}
#-----------------------------------------------------------------------------
databaseConfigType={{ oracle_db_config }}
#-----------------------------------------------------------------------------
createAsContainerDatabase={{ create_container_database }}
#-----------------------------------------------------------------------------
numberOfPDBs={{ number_of_pdbs }}
#-----------------------------------------------------------------------------
# Name          : pdbName 
# Datatype      : String
# Description   : Specify the pdbname/pdbanme prefix if one or more pdb need to be created
# Valid values  : Check Oracle12c Administrator's Guide
# Default value : None
# Mandatory     : No
#-----------------------------------------------------------------------------
pdbName={{ pdb_prefix }}
#-----------------------------------------------------------------------------
# Name          : useLocalUndoForPDBs 
# Datatype      : boolean
# Description   : Flag to create local undo tablespace for all PDB's.
# Valid values  : TRUE\FALSE
# Default value : TRUE
# Mandatory     : No
#-----------------------------------------------------------------------------
useLocalUndoForPDBs=true
#-----------------------------------------------------------------------------
pdbAdminPassword={{ oracle_pass_all_users }}
#-----------------------------------------------------------------------------
templateName=General_Purpose.dbc
#-----------------------------------------------------------------------------
sysPassword={{ oracle_pass_all_users }}
#-----------------------------------------------------------------------------
systemPassword={{ oracle_pass_all_users }}
#-----------------------------------------------------------------------------
emExpressPort=5500
#-----------------------------------------------------------------------------
datafileDestination={{ oracle_dataloc }}
#-----------------------------------------------------------------------------
recoveryAreaDestination={{ oracle_recoveryloc }}
#-----------------------------------------------------------------------------
storageType={{ oracle_storage_type }}
#-----------------------------------------------------------------------------
characterSet={{ oracle_charset }}
#-----------------------------------------------------------------------------
nationalCharacterSet=AL16UTF16
#-----------------------------------------------------------------------------
listeners={{ oracle_listener }}
#-----------------------------------------------------------------------------
sampleSchema=true
#-----------------------------------------------------------------------------
memoryPercentage=
#-----------------------------------------------------------------------------
databaseType={{ oracle_database_type }}
#-----------------------------------------------------------------------------
automaticMemoryManagement=false
#-----------------------------------------------------------------------------
totalMemory=
